<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Lab10 API Test Suite">

    <test name="Bai1-GET-Basic">
        <classes>
            <class name="dtm.tuan10.api.UserGetApiTest"/>
        </classes>
    </test>

    <test name="Bai3-JSON-Schema-Validation">
        <classes>
            <class name="dtm.tuan10.api.JsonSchemaValidationTest"/>
        </classes>
    </test>

    <test name="Bai4-Auth-Error-Handling">
        <classes>
            <class name="dtm.tuan10.api.AuthAndErrorTest"/>
        </classes>
    </test>

    <test name="Bai5-Performance-SLA-Monitoring">
        <classes>
            <class name="dtm.tuan10.api.PerformanceSlaTest"/>
        </classes>
    </test>

    <test name="Bai6-API-UI-Integration">
        <classes>
            <class name="dtm.tuan10.api.ApiUiIntegrationTest"/>
        </classes>
    </test>

</suite>